html{
	background-color:black;
}
body{
	padding: 15px;
	margin: 0 auto;
	width: 60%;
	background-color: black;
	position: center;
	color: limegreen;
	text-align: justify;
	font-size: 18;
}
h1{
	text-align: center;
}
H2{
	text-align: center;
}
H3{
	text-align: left;
}
H4{
	text-align: left;
}
.codeHeader{
	color: yellow;
}
.codeBody{
	color: yellow;
	font-family: Courier New;
	text-align: left;
	margin-bottom: 10px;
}